@page
@model VCMApp.UI.Pages.CVUploadSuccessModel
@{
    ViewData["Title"] = "CV Upload Success";
}

<div class="text-center">
    <h1 class="display-4">CV Uploaded Successfully</h1>
</div>

<div class="text-center mt-5">
    <p>Your CV has been uploaded successfully. Thank you for submitting your application.</p>
    <a href="/Index" class="btn btn-primary btn-lg mt-4">Go to Vacancies page</a>
</div>